  <div class="char-ability-title">{{this.title}}{{#if this.rating}} ({{this.rating}}){{/if}}</div>
  <table class="char-ability-list">
  {{#each this.list as |ability| }}
  <tr>
    <td><b>{{ability.name}}</b> (R{{ability.rank}}): {{ability.details}} </td>
  </tr>
  {{/each}}
</table>
