  <div class="card card-default">
       <div class="card-heading">
          {{this.typePlural}}
       </div>
   <div class="card-body">

     <p class="cg-tip"><AnsiFormat @text={{this.blurb}} /></p>

     {{#each this.charList as |option|}}
     {{#unless (eq option.rating 0)}}
     <FaseripOptionbox @rank={{option.rank}} @notes={{option.notes}} @name={{option.name}} @ranks={{option.ranks}} @list={{this.opList}} @maxRating=5 @updated={{action "abilityChanged"}} >
         <b>{{option.name}}</b> (R{{option.rank}}) - {{option.notes}}
     </FaseripOptionbox>
     {{/unless}}
     {{/each}}
     <br>
     Points 
       {{#if (eq this.type 'disadvantage')}}
          gained
       {{else}}
          spent
       {{/if}}
      : {{this.optionPoints}}
     <br>
     <br>
     <button class="btn btn-primary" id="addopt" {{action (mut this.selectOption) true}}>Add {{this.typeCapitalize}}</button>

   </div>
  </div>

<BsModalSimple @title="Add {{this.typeCapitalize}}" @closeTitle="Cancel" @submitTitle="Add" @size={{null}} @fade={{true}} @open={{this.selectOption}} @onSubmit={{action "addOption"}} @onHide={{action (mut this.selectOption) false}}>
    <p>Choose one {{this.type}} from the dropdown list below and add an explanation.</p>
       <select onchange={{action (mut this.optionString) value="target.value"}}>
       {{#each this.opList as |opt|}}
           <option value={{opt.name}}>{{opt.name}}</option>
       {{/each}}
       </select>
    <br><br>
       <i>{{this.optionDesc}}</i>
    <br><br>
    <p>Notes:</p>
    <Input @type="text" size={{200}} id="optionNotes" @enter={{action "addOption"}} @value={{this.optionNotes}} />
  </BsModalSimple>
