<div class="row fs3-abilitybox"> 
  <div class="col col-sm-7">
    {{yield}}
  </div>

  <div class="col col-sm-5">
    <div class="fs3-rating-control">
      <button class="fs3-skillbutton" {{action "edit"}}>Edit</button>
    </div>
    
  </div>
</div>

<BsModalSimple @title="Edit {{this.name}}" @closeTitle="Cancel" @submitTitle="Update" @size={{null}} @fade={{true}} @open={{this.editOption}} @onSubmit={{action "update"}} @onHide={{action (mut this.editOption) false}}>
     <p><i>{{this.optionDesc}}</i></p>
     <br>
     Rank:
    <div class="fs3-rating-display">
      <button class="fs3-skillbutton" {{action "lower"}}>-</button>

        {{this.optionRating}}

      <button class="fs3-skillbutton" {{action "raise"}}>+</button>
    </div>
 <br><br>
    <p>Details:</p>
     <Input @type="text" size={{200}} id="optionDetails" @enter={{action "update"}} @value={{this.optionDetails}} />
  </BsModalSimple>
